@import "vars.scss";

.left-sidebar{
  width: 18vw;
  height: 100vh;
  border-right: 2px solid #E4E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  //photo
  &__image-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after{
      display: block;
      content: "";
      border-bottom: 2px solid #E4E7EB;
      margin-top: 23px;
      width: 238px;
    }
  }

  &__photo{
    margin-top: 24px;
    margin-bottom: 16px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }


  &__name{
    font-size: 16px;
    color:#3A3B3F;
    margin-bottom: 4px;
  }
  &__position{
    color: #9EA0A5;
    margin-left: 0 auto;
    font-size: 12px;

  }

  //nav
  &__main-nav{

    margin-top: 24px;
    img{
      width: 17px;
      height: 17px;
    }
    span{
      margin-left: 10px;
      font-size: 14px;
    }
  }
  &__text{

  }
  &__nav-link{
    padding: 16px 0;
    span{
      font-size: 14px;
      color:#66788A;
    }

  }
  &__text{
    font-size: 13px;
    color: lighten(#000, 70%);
    &::before{
      display: block;
      content: "";
      border-bottom: 2px solid #E4E7EB;
      padding-top: 23px;
      width: 238px;
    }
  }
}
