@import "./head/head.scss";
@import "./functions/functions.scss";
@import "./products/products.scss";
@import "./main-footer/main-footer.scss";
.main-products{
  max-width:82vw;
  background: $mainBackground;
}
